html,
body {
  height: 100%;
}

body {
  font-family: 'MyFont', system-ui, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.58px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../public/Pattern.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  padding: 36px 0 67px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 24px;
}

.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
